body {
	background-image: url(images/background.jpg);
	background-position: center;
	height: 100vh;
}

small {
	font-size: 10px;
}

.jumbotron {
	background: rgba(28,30,34, 0.9); 
	padding-top: 0px;
	margin-top: 75px;
}

.page-header {
	margin-top: 0px;
}

.col-lg-12, 
.col-md-12, 
.col-sm-12, 
.col-xs-12{
	text-align: center;
}

#startButtonDiv {
	display: none;
}

#startButton {
	font-size: 28px;
	padding: 25px 50px 25px 50px;
}

#gameSectionDiv {
	display: none;
}

#guessOptions-pane {
	display: none;
}

#guessOptions-pane button {
	display: block;
	margin: 15px auto;
}

#wrongGuess-pane{
	display: none;
}

#correctGuess-pane {
	display: none;
}

#endGame-pane {
	display: none;
}

.answerImg {
	max-width: 400px;
}